<ion-view>
            
    <ion-view title="Login">
        <ion-content class = "padding has-header">
            <div class="title"></div>
                <h1 class="center">SIGN IN</h1>
                </div>
            <div class="list-fields">
                <div class="input-box">		       
                    <div class="item item-input item-input-email" id="email">
                        <input type="text" placeholder="Email" ng-model="user.email"/>		        
                    </div>

                    <div class="item item-input">
                        <input type="password" placeholder="Password" ng-model="user.password"/>		        
                    </div>
                    &nbsp;
                    <div class=button-row>
                        <button id="loginBtn" class="button button-block button-balanced login100-form-btn" ng-click="login(user)">
                            Login
                        </button>
                    </div>
                </div>
            </div>
               
        </ion-content>
    </ion-view>
</ion-view>
