<ion-view>
        <div class="bar bar-header bar-block page-bar">
                        <div class=""></div>
                        <div class="">
                                <h2>
                                        Payments
                                </h2>
                        </div>
                        <div class = "">
                                <button class = "button icon ion-log-out" ng-click="logout()"></button>
                        </div>
                </div>
        <ion-view title="Transactions">
                <ion-content class = "padding has-header">
                        <div class="cards" id="cards">
                                
                        </div>
                </ion-content>
        </ion-view>
</ion-view>