<ion-view>
        <div class = "bar bar-header bar-light bar-block">
                        <h1 class = "title">Transactions</h1>
                        <button class = "button icon ion-log-out" ng-click="logout()"></button>
        </div>
        <ion-view title="Transactions">
                <ion-content class = "padding has-header">
                        <div id = "cards" >
                                
                        </div>
                </ion-content>
        </ion-view>
</ion-view>